h1{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
img{
	position: relative;
	margin-left: 70px;
	border-radius: 20px;
}
 .pop{
 margin-left: 500px;
 margin-top: 60px;
 font-family: 'Gabriola';
 font-size: 25px;
 color: grey;
}
 .samp{
	color: indianred;
	margin-left: 550px;
	font-family: 'Gabriola';
	font-size: 25px;
}
.dropbtn {
	background-color: lightcyan;
	color: grey;
	padding: 16px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'Gabriola';
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color:linen;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
	font-family: 'Gabriola';
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color:linen;
  }
  .uu{
	background-color: lightcyan;
	color: grey;
	padding: 16px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;  
	font-family: 'Gabriola';
  }
  .btn{
	position: relative;
	display: inline-block;
  }
  .ctn{
	display: none;
	position: absolute;
	background-color:linen;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
	font-family: 'Gabriola';
  }
  .ctn a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  .ctn a:hover{
	  background-color: linen;
  }
  .btn:hover .ctn{
	  display: block;
  }
  .btn:hover .uu{
	background-color:linen;
  }
  .uv{
	background-color: lightcyan;
	color: grey;
	padding: 16px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;  
	font-family: 'Gabriola';
  }
  .btn1{
	position: relative;
	display: inline-block;
  }
  .ctn1{
	display: none;
	position: absolute;
	background-color:linen;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
	font-family: 'Gabriola';
  }
  .ctn1 a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  .ctn1 a:hover{
	  background-color: linen;
  }
  .btn1:hover .ctn1{
	  display: block;
  }
  .btn1:hover .uv{
	background-color:linen;
  }

  .over1{
	  margin-left: 30%;
  }
  .over2{
	margin-left: 10%;
}
.over3{
	margin-left: 10%;
}
.over1,.over2,.over3{
	display:inline-block ;
	margin-top: 2%;
}

